In [1]:
import pandas as pd

import numpy as np

In [7]:
u = np.array([2, 7, 5, 6])
v = np.array([3, 4, 8, 6])
x = np.array([1, 2, 3, 4, 5])
# addition 
print(u + v)

# subtraction 
print(u - v)

# scalar multiplication 
print(2 * v)

[ 5 11 13 12]
[-1  3 -3  0]
[ 6  8 16 12]

In [3]:
def vector_vector_multiplication(u, v):
    assert u.shape[0] == v.shape[0]

    n = u.shape[0]

    result = 0.0

    for i in range(n):
        result = result + u[i] * v[i]

    return result

In [4]:
vector_vector_multiplication(u,v)

np.float64(110.0)

In [9]:
def matrix_vector_multiplication(U, v):
    assert U.shape[1] == v.shape[0]
# ffill
    num_rows = U.shape[0]

    result = np.zeros(num_rows)

    for i in range(num_rows):
        result[i] = vector_vector_multiplication(U[i], v)

    return result

In [11]:
I = np.eye(3)
I

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [12]:
V = np.array([
    [1, 1, 2],
    [0, 0.5, 1],
    [0, 2, 1],
])
inv_1 = np.linalg.inv(V)
inv_1

array([[ 1.        , -2.        ,  0.        ],
       [ 0.        , -0.66666667,  0.66666667],
       [ 0.        ,  1.33333333, -0.33333333]])

Intro to pandas

In [15]:
import pandas as pd

In [16]:
data = [
    ['Nissan', 'Stanza', 1991, 138, 4, 'MANUAL', 'sedan', 2000],
    ['Hyundai', 'Sonata', 2017, None, 4, 'AUTOMATIC', 'Sedan', 27150],
    ['Lotus', 'Elise', 2010, 218, 4, 'MANUAL', 'convertible', 54990],
    ['GMC', 'Acadia',  2017, 194, 4, 'AUTOMATIC', '4dr SUV', 34450],
    ['Nissan', 'Frontier', 2017, 261, 6, 'MANUAL', 'Pickup', 32340],
]
columns = [
    'Make', 'Model', 'Year', 'Engine HP', 'Engine Cylinders',
    'Transmission Type', 'Vehicle_Style', 'MSRP'
]

In [19]:
df_test1 = pd.DataFrame(data,
             columns=columns)

In [20]:
make_series = pd.Series(df_test1['Make'])

In [22]:
df_test1

,Make,Model,Year,Engine HP,Engine Cylinders,Transmission Type,Vehicle_Style,MSRP
0,Nissan,Stanza,1991,138.0,4,MANUAL,sedan,2000
1,Hyundai,Sonata,2017,NaN,4,AUTOMATIC,Sedan,27150
2,Lotus,Elise,2010,218.0,4,MANUAL,convertible,54990
3,GMC,Acadia,2017,194.0,4,AUTOMATIC,4dr SUV,34450
4,Nissan,Frontier,2017,261.0,6,MANUAL,Pickup,32340

In [24]:
def convert_to_euros(val):
    return val * 1.609

In [25]:
msrP_eu_1 = df_test1['MSRP'].apply(convert_to_euros)

In [27]:
type(msrP_eu_1)

pandas.core.series.Series

In [30]:
df_test1.index

RangeIndex(start=0, stop=5, step=1)

In [31]:
df_test1.index = ['a', 'b', 'c', 'd', 'e']
df_test1

,Make,Model,Year,Engine HP,Engine Cylinders,Transmission Type,Vehicle_Style,MSRP
a,Nissan,Stanza,1991,138.0,4,MANUAL,sedan,2000
b,Hyundai,Sonata,2017,NaN,4,AUTOMATIC,Sedan,27150
c,Lotus,Elise,2010,218.0,4,MANUAL,convertible,54990
d,GMC,Acadia,2017,194.0,4,AUTOMATIC,4dr SUV,34450
e,Nissan,Frontier,2017,261.0,6,MANUAL,Pickup,32340

In [33]:
df_test1.loc[['c']]

,Make,Model,Year,Engine HP,Engine Cylinders,Transmission Type,Vehicle_Style,MSRP
c,Lotus,Elise,2010,218.0,4,MANUAL,convertible,54990

In [35]:
df_test1.iloc[[2]]

,Make,Model,Year,Engine HP,Engine Cylinders,Transmission Type,Vehicle_Style,MSRP
c,Lotus,Elise,2010,218.0,4,MANUAL,convertible,54990

In [36]:
df_test1.reset_index()

,index,Make,Model,Year,Engine HP,Engine Cylinders,Transmission Type,Vehicle_Style,MSRP
0,a,Nissan,Stanza,1991,138.0,4,MANUAL,sedan,2000
1,b,Hyundai,Sonata,2017,NaN,4,AUTOMATIC,Sedan,27150
2,c,Lotus,Elise,2010,218.0,4,MANUAL,convertible,54990
3,d,GMC,Acadia,2017,194.0,4,AUTOMATIC,4dr SUV,34450
4,e,Nissan,Frontier,2017,261.0,6,MANUAL,Pickup,32340

In [2]:
pd.__version__

'2.3.2'

In [3]:
hw_data = pd.read_csv('https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv')

In [4]:
hw_data.head()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369

In [5]:
len(hw_data)

9704

In [6]:
len(hw_data.fuel_type.unique())

2

In [7]:
hw_data.fuel_type.unique()

array(['Gasoline', 'Diesel'], dtype=object)

In [8]:
hw_data.isnull().sum()

engine_displacement      0
num_cylinders          482
horsepower             708
vehicle_weight           0
acceleration           930
model_year               0
origin                   0
fuel_type                0
drivetrain               0
num_doors              502
fuel_efficiency_mpg      0
dtype: int64

In [9]:
filter = hw_data['origin']=='Asia'
max(hw_data[filter].fuel_efficiency_mpg)

23.759122836520497

In [10]:
hw_data['horsepower'].median()

149.0

In [11]:
hw_data['horsepower'] = hw_data['horsepower'].fillna(hw_data['horsepower'].median())

In [12]:
hw_data['horsepower'].median()

149.0

In [13]:
hw_data.isnull().sum()

engine_displacement      0
num_cylinders          482
horsepower               0
vehicle_weight           0
acceleration           930
model_year               0
origin                   0
fuel_type                0
drivetrain               0
num_doors              502
fuel_efficiency_mpg      0
dtype: int64

In [14]:
asia_cars = hw_data[hw_data['origin'] == 'Asia']

In [15]:
asia_cars[['vehicle_weight','model_year']]

      vehicle_weight  model_year
8        2714.219310        2016
12       2783.868974        2010
14       3582.687368        2007
20       2231.808142        2011
21       2659.431451        2016
...              ...         ...
9688     3948.404625        2018
9692     3680.341381        2016
9693     2545.070139        2012
9698     3107.427820        2005
9703     2908.043477        2005

[3247 rows x 2 columns]

In [19]:
asia_cars_1 = asia_cars[['vehicle_weight','model_year']]

In [31]:
X = asia_cars[['vehicle_weight','model_year']][0:7].to_numpy()
#X = asia_cars_1.iloc[0:7].to_numpy()

In [32]:
# X = X.to_numpy()

In [38]:
print(type(X))
print(X[0,0])
print(X.shape)

<class 'numpy.ndarray'>
2714.219309645285
(7, 2)

In [33]:
print(X)

[[2714.21930965 2016.        ]
 [2783.86897424 2010.        ]
 [3582.68736772 2007.        ]
 [2231.8081416  2011.        ]
 [2659.43145076 2016.        ]
 [2844.22753389 2014.        ]
 [3761.99403819 2019.        ]]

In [45]:
def vector_vector_multiplication(u, v):
    assert u.shape[0] == v.shape[0]

    n = u.shape[0]

    result = 0.0

    for i in range(n):
        result = result + u[i] * v[i]

    return result

def matrix_vector_multiplication(U, v):
    assert U.shape[1] == v.shape[0]

    num_rows = U.shape[0]

    result = np.zeros(num_rows)

    for i in range(num_rows):
        result[i] = vector_vector_multiplication(U[i], v)

    return result

def matrix_matrix_multiplication(U, V):
    assert U.shape[1] == V.shape[0]

    num_rows = U.shape[0]
    num_cols = V.shape[1]

    result = np.zeros((num_rows, num_cols))

    for i in range(num_cols):
        vi = V[:, i]
        Uvi = matrix_vector_multiplication(U, vi)
        result[:, i] = Uvi

    return result

In [46]:
X_t = X.transpose()

In [62]:
# XTX = matrix_matrix_multiplication(X,X_t)
XTX = np.dot(X_t,X)

In [63]:
XTX

array([[62248334.33150762, 41431216.5073268 ],
       [41431216.5073268 , 28373339.        ]])

In [64]:
XTX_inv = np.linalg.inv(XTX)

In [65]:
XTX_inv

array([[ 5.71497081e-07, -8.34509443e-07],
       [-8.34509443e-07,  1.25380877e-06]])

In [66]:
y = np.array([1100, 1300, 800, 900, 1000, 1100, 1200])

In [67]:
# X = asia_7_np

In [68]:
print(XTX_inv.shape,X_t.shape)

(2, 2) (2, 7)

In [73]:
np.dot(XTX_inv,X_t)

array([[-1.31202622e-04, -8.63909858e-05,  3.72634923e-04,
        -4.02726650e-04, -1.62513724e-04, -5.52342829e-05,
         4.65094049e-04],
       [ 2.62636846e-04,  1.96990690e-04, -4.73392228e-04,
         6.58944477e-04,  3.08357831e-04,  1.51636137e-04,
        -6.07979633e-04]])

In [71]:
w1 = matrix_matrix_multiplication(XTX_inv,X_t)
w1,w1.shape

(array([[-1.31202622e-04, -8.63909858e-05,  3.72634923e-04,
         -4.02726650e-04, -1.62513724e-04, -5.52342829e-05,
          4.65094049e-04],
        [ 2.62636846e-04,  1.96990690e-04, -4.73392228e-04,
          6.58944477e-04,  3.08357831e-04,  1.51636137e-04,
         -6.07979633e-04]]),
 (2, 7))

In [72]:
w = matrix_matrix_multiplication(w1,y)

IndexError: tuple index out of range

In [88]:
w1.transpose().shape[1]

2

In [75]:
np.dot(w1,y).sum()

np.float64(0.5187709081074007)